/*Reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*elementos de estilo*/

body {
    background-color: #0E1014;
    color: #F5F5F5;
}

header img {
    display: block;
    margin: 75px 0 0 360px
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 24px auto 0;
    width: 792px;
    display: block;
    text-align: center;
}

h1 span {
    color: #8233E8;
}

a {
    color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
        ;
    }
}

@media(max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        width: 340px;
        font-size: 20px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}